body {
  background-color: #F2B7C6;
  font-family: 'Nunito', sans-serif;
  color: white
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  min-width: 300px;
  padding: 10px;
  border: 3px solid white;
  outline: 3px solid #DD9296;
  margin-left: auto;
  margin-right: auto;
  background-color: #A43D70
}

.header h1 {
  font-family: 'Shippori Mincho B1', serif;
  margin: 0px
}

.logoContainer {
  display: flex;
  justify-content: space-between;
  width: 100px
}

.logoContainer img {
  width: 20px;
  height: 20px
}
